NODE_ENV=development
PORT=3001
SESSION_SECRET=change_me_en_local_pour_dev

ACCOUNT_TITOU_PWD=titou1375902
ACCOUNT_THOMAS_PWD=thomas
ACCOUNT_HUGO_PWD=hugo
ACCOUNT_LILOU_PWD=lilou
ACCOUNT_MATTEO_PWD=matteo

CLIENT_URL=http://localhost:5173
